.terraform/providers/registry.terraform.io/hashicorp/aws/3.75.2/linux_amd64/terraform-provider-aws_v3.75.2_x5
.terraform/providers/registry.terraform.io/hashicorp/aws/4.35.0/linux_amd64/terraform-provider-aws_v4.35.0_x5
.gitignore
